--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg120+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: request_user
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    category character varying(32),
    price_rub numeric(10,2),
    grade_m smallint,
    slump_p character varying(8),
    mix_type character varying(16),
    strength_b numeric(4,1),
    frost_f character varying(8),
    water_w character varying(8)
);


ALTER TABLE public.products OWNER TO request_user;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: request_user
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: request_user
--



--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: request_user
--

SELECT pg_catalog.setval('public.products_id_seq', 32, true);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: request_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

